@media screen and (max-width: 1300px) {
    .red3 {
        width: 460px;
        height: 60px;
        padding: 10px;
        margin-left: 100px;
        background-color: red;
    }
    .red4, .red5 {
        width: 93%;
    }
    .violet {
        width: 96%;
    }
    .brown {
    width: 96%;
    }
    .blue1, .blue2, .blue3 {
        width: 90%;
    }
    .inside1 {
        display: block;
    }
    .inside2 {
        display: block;
    }
    .inside3 {
        display: block;
        justify-content: center;
    }
}
* {
    padding: 0;
    margin: 0;
}
body {
    background-color: yellow;
}
.row1 {
    background-color: orange;
    display: flex;
    padding: 20px;
    margin: 20px;
}
.red1 {
    width: 500px;
    height: 60px;
    padding: 10px;
    background-color: red;
}
.red2 {
    width: 200px;
    height: 60px;
    padding: 10px;
    margin-left: 20px;
    background-color: red;
}
.red3 {
    width: 460px;
    height: 60px;
    padding: 10px;
    margin-left: 800px;
    background-color: red;
}
.violet {
    background-color: purple;
    width: 850px;
    height: 120px;
    margin: 20px 20px 0px;
}
.brown {
    background-color: brown;
    width: 850px;
    height: 350px;
    margin: 0px 20px 0px;
}
.row3 {
    background-color: rgb(156, 154, 154);
    display: flex;
    margin: 20px 20px 0px;

}
.green1 {
    width: 215px;
    height: 160px;
    background-color: rgb(5, 201, 5);
    margin: 15px;
}
.green2 {
    width: 215px;
    height: 160px;
    background-color: rgb(5, 201, 5);
    margin: 15px;
}
.green3 {
    width: 215px;
    height: 160px;
    background-color: rgb(5, 201, 5);
    margin: 15px;
}
.green4 {
    width: 215px;
    height: 160px;
    background-color: rgb(5, 201, 5);
    margin: 15px;
}
.row4 {
    display: flex;
}
.maroon1 {
    background-color: maroon;
    height: 270px;
    width: 470px;
    margin: 10px 20px 0px;

}
.maroon2 {
    background-color: maroon;
    height: 270px;
    width: 470px;
    margin: 10px 20px 0px;

}
.blue1 {
    width: 800px;   
    height: 120px;
    margin: 5px 40px 5px;
    background-color: blue;
}
.blue2 {
    width: 800px;   
    height: 80px;
    margin: 10px 40px 5px;
    background-color: blue;
}
.blue3 {
    width: 800px;   
    height: 80px;
    margin: 10px 40px 5px;
    background-color: blue;
}
.row6 {
    display: block;
}
.red4 {
    width: 980px;
    height: 135px;
    background-color: red;
    margin: 10px 30px 5px;
}
.red5 {
    width: 980px;
    height: 135px;
    background-color: red;
    margin: 10px 30px 5px;
}
.inside1 {
    display: flex;
}
.inside2 {
    display: block;
}
.inside3 {
    display: flex;
}
